<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADM Ejercicio 2</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="scripts/vue.js"></script>
</head>

<body>

    <main>
        <h1>Juegos Retro</h1>

        <p>Nuestra lista es exigente con las calificaciones, solo te mostraremos juegos que tengan una calificacion
            mayor a 6 y resaltaremos las super recomendadas que tengan calificación de 8 en adelante.</p>

        <div class="contenedor" v-cloak>
            <ul>
                <li v-for="item in juegos" v-if="item.calificacion > 6">
                    <h2>{{item.nombre}}, {{item.anio}}</h2>
                    <img v-bind:src="item.portada" v-bind:alt="item.alt">
                                        
                    <p v-for="item in item.consola">{{item}}</p>
                    <p v-bind:class="item.calificacion >= 8 ? 'green' : 'red'" v-if="">CALIFICACIÓN: {{item.calificacion}}</p>
                </li>
            </ul>



        </div>
    </main>

    <script src="scripts/js.js"></script>

    <body>

</html>